.logo {
  padding: 16px 0;
  
   font-family: "Raleway", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 1.16;
   color: $logo-color;
   &--accent {
      color: $accent-color;
    }
    &__footer {
      color: $headline-text-color;
      @media screen and (max-width: 1200px) {
        padding: 0;
      }
    }
 }
 
